html, body {
  height: 100vh;
  width: 100vw;
  background: white;
}

body{
background-color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav.navbar.navbar-expand-lg.bg-light .container{
    background-color: white;
}

li{
  list-style: none;
}

.profileImage{
    padding: 5%;
    padding-left: 5%;
    border-radius: 2%;
    border: 5%;
    padding-top: 0%;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 450px;
    object-fit: cover;
    float: left;
    margin: 5px;
}

.homeText {
    text-align: left;
    padding-right: 2%;
    padding-top: 3%;
    height: 50%;
    font-size: larger;
}
  
  .navbar-nav {
      list-style-type: none;
      overflow: hidden;
      background-color: white ;
      width: 100%;
      float: right;
      text-align: center;
      padding: 5%;
      padding-right: 0%;
      justify-content: right;
    }

    .navbar-brand{
      padding-right: 1%;
      padding: 0%;
      text-align: left;
    }

    .navbar-brand img{
      padding-right: 0.5%;
      vertical-align: auto;
    }

    #more{
      display: none;
    }

    .introword {
      font-size: 350%;
      font-weight: 1000;
      color: blue;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      line-height: 45pt;
      text-align: left;
    }

    .introbottom {
      font-size: 200%;
      font-weight: 600;
      color: blue;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      line-height: 30pt;
      text-align: left;
    }

    .introword div {
      padding: 0%;
    }

    div div.me-3.pe-3{
        margin-right: 9%;
        margin-left: 73%;
    }

    .introimg {
      height: 32%;
      width: 20%;
      float: right;
      margin-top: 0%;
    }
    
    .nav-item {
      float: left;
      border-right: solid white;
      text-align: center;
      width: 15%;
      padding: 0%;
    }
    
    nav a {
      color: white;
      text-align: center;
      padding: 1% 5% 1% 5%;
      text-decoration: none;
      background-color: white;
    }
  
    h2 {
      text-transform: uppercase;
    }
  
    
      p {
        text-align: justify;
      }
    
      .footermsg {
            background-color: grey;
            color: white;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px 10px 0px 10px;
            height: 40px;
            margin-top: 10%;
    }

    .footermain{
      background-color: rgba(32, 54, 162, 0.813);
      height: 45vh;
      color: white;
      display: flex;
      width: 100%;
    }

    .footer{
      justify-content: space-between;
      padding-right: 15%;
    }

    .getintouch{
      font-weight: 500;
      font-size: 2pc;
    }

   div.col-6.footerleft{
      margin-top: 2%;
      margin-left: 4%;
      color: white;
    }
    
   .contactButton {
       background-color: #4CAF50; /* Green */
      border: 1px solid white;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
      transition-duration: 0.4s;
      position: fixed;
      bottom: 60px;
      font-family: cursive;
      animation: mybutton 3s infinite;
    }

    /*#myBtn{
      background-color: #4CAF50; /* Green 
      border: 1px solid white;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
      transition-duration: 0.4s;
      position: fixed;
      bottom: 60px;
      font-family: cursive;
      animation: mybutton 3s infinite;
    }*/

    .rounded.twtImages{
      height: 140px;
      width: 300px;
      justify-content: center;
      position: absolute;
      float: right;
      clear: both;
    }
    
    .button:hover {
      background-color: #4CAF50; /* Green */
      color: white;
    }

    input {
      width: 25%;
      margin: 8px 0;
      box-sizing: border-box;
    }
    
    input[type=text] {
      width: 50%;
      height: 1%;
      padding: 1% 2%;
      margin: 2% 0;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      border: 2px solid white; 
      color: white; 
      padding: 8px 32px; 
      text-align: center; 
      text-decoration: none; 
      border-radius: 8px;
      margin: 8px 0;
      Position: relative;
    }

    .card-header{
      color: #0c63e4;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #tech {
      margin-bottom: 5%;
    }
    
    .accordion-button{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .footerlinks{
      list-style-type: none;
      text-align: right;
    }
    .footerlink{
      padding: 2%;
      justify-items: right;
      justify-self: right;
    }
    .footer-right{
      padding: 2%;
      justify-content: flex-end;
      justify-self: flex-end;
    }

    .modal.fade{
      height: 50vh;
      color: brown;
    }

    .container .list .webpages img{
      height: 75%;
      width: 75%;
    }

    .webpages{
      text-align: center;
      justify-content: center;
      padding-left: 0rem;
    }

    .cardodd.text-center,.cardeven.text-center{
      padding-left: 1.5% ;
      padding-right: 1.5%;
      padding-top: 1.5% ;
      padding-bottom: 1.5%;
      justify-content: center;
    }

    .liInnerdiv.text-center{
      border-radius: 1vw;
      border-bottom: rgb(187, 179, 179);
      border-left: rgb(239, 221, 221);
      border-left: rgb(239, 221, 221);
      border-style: outset;
      width: 87%;
      margin: auto;
      padding: 1%;
    }

    .liInnerdiv2.text-center{
      border-radius: 1vw;
      border-bottom: rgb(187, 179, 179);
      border-left: rgb(239, 221, 221);
      border-left: rgb(239, 221, 221);
      border-style: outset;
      padding: 1%;
    }

    .row.row-content.cardServ{
      padding-top: 2.5% ;
      padding-bottom: 2.5%;
      display: flex;
      align-content: center;
      align-items: center;
    }

    .row.row-content.cardServStudy{
      padding-top: 1.5% ;
      padding-bottom: 1.5%;
      margin-top: 1.5%;
      margin-bottom: 1.5%;
      display: flex;
      align-content: center;
      align-items: center;
      border-radius: 1vw;
      border-bottom: rgb(187, 179, 179);
      border-left: rgb(239, 221, 221);
      border-left: rgb(239, 221, 221);
      border-style: outset;
      width: 75%;
      justify-content: center;
    }
    
