html, body {
  height: 100vh;
  width: 100vw;
}

body{
background-image: url(images/iceberg.jpg);
}

.nav.navbar.navbar-expand-lg.bg-light{
    justify-content: space-between;
    align-content: space-between;
    background-color: burlywood;
}

.profileImage{
    padding: 5%;
    padding-left: 5%;
    border-radius: 2%;
    height: 50%;
    width: 20%;
    border: 5%;
    padding: 3%;
    align-items: center;
    justify-content: center;
}

.homeText {
    text-align: right;
    padding-left: 15%;
    padding-right: 2%;
    padding-top: 3%;
}
  
  ul {
      list-style-type: none;
      margin: 0;
      padding-right: 2%;
      padding-left: 2%;
      overflow: hidden;
      background-color: burlywood ;
      width: 100%;
    }
    
    li {
      float: left;
      border-right: solid white;
    }
    
    a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 1% 5% 1% 5%;
      text-decoration: none;
      background-color: burlywood;
    }
  
    h2 {
      text-transform: uppercase;
    }
    
      img {
          width: 300px;
          height: 450px;
          object-fit: cover;
          float: left;
          margin: 5px;
      }
    
      p {
        text-align: justify;
      }
    
    footer {
            background-color: grey;
            color: white;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px 10px 0px 10px;
            height: 40px;
    }
    
    button {
       background-color: #4CAF50; /* Green */
      border: 1px solid white;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
      transition-duration: 0.4s;
      position: fixed;
      bottom: 60px;
      font-family: cursive;
      animation: mybutton 3s infinite;
    }
    
    .button:hover {
      background-color: #4CAF50; /* Green */
      color: white;
    }
    
    @keyframes mybutton {
      from {background-color: #4CAF50;}
      to {background-color: blue;}
    }
    input {
      width: 25%;
      margin: 8px 0;
      box-sizing: border-box;
    }
    
    input[type=text] {
      width: 50%;
      height: 150px;
      padding: 12px 40px;
      margin: 8px 0;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      border: 2px solid white; 
      color: white; 
      padding: 8px 32px; 
      text-align: center; 
      text-decoration: none; 
      border-radius: 8px;
      margin: 8px 0;
      Position: relative;
    }
    
